@using CodeAcademy.Areas.Admin.Models.ViewModels
@model List<FacultyViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    @await Component.InvokeAsync("UpperPanel", new { email = User.Identity.Name })

    @if (!Model.Any())
    {
        <h5>No faculties...</h5>
    }
    <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn-link">Go back to menu</a>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <input type="button" id="open-fac-create" class="btn btn-dark" value="New Faculty" />
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row items">
            @foreach (var faculty in Model)
            {
                <div class="fac-item ">
                    <input type="hidden" value="@faculty.Id" />
                    <p class="h4 btn-info">@faculty.Name 
                        <span class="badge badge-light">@faculty.GroupsInFacultyCount</span>
                        <span class="hour badge badge-light">@faculty.HourCount</span>
                    </p>
                    <img class="img-responsive" src="@faculty.LogoImagePath" alt="Faculty Logo" />
                    <input type="button" class="btn btn-sm btn-warning fac-edit" value="Edit" />
                    <input type="button" class="btn btn-sm btn-danger fac-del" value="Deactivate" />
                </div>
            }
        </div>
    </div>


    @* New faculty form *@
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div id="new-fac" class="custom-modal">
                    <h5 class="h5 text-center">New Faculty</h5>
                    <form asp-area="Admin" asp-controller="Faculties" asp-action="Create" class="form-group" method="post" enctype="multipart/form-data">
                        <label>Name</label>
                        <input type="text" name="name" required id="createFacName" placeholder="Faculty name..." class="form-control" />
                        <label>Hour Count</label>
                        <input type="text" name="hourcount" required id="createFacHour" placeholder="Hour count..." class="form-control" />
                        <br />
                        <input type="file" name="file" id="file" accept="image/*" class="btn btn-info" value="Upload logo" />

                        <input type="submit" value="Create Faculty" id="confirm-create" class="btn btn-success" />
                        <input type="button" value="Close" id="closeCreateFac" class="btn btn-danger" />
                    </form>
                </div>
            </div>
        </div>
    </div>


    @* Edit faculty form *@
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div id="edit-fac" class="custom-modal">
                    <h5 class="h5 text-center">Edit Faculty</h5>
                    <form asp-area="Admin" asp-controller="Faculties" asp-action="Edit" class="form-group" method="post" enctype="multipart/form-data">
                        <label>Name</label>
                        <input hidden name="id" value="" id="id" />
                        <input type="text" name="name" required id="edit-fac-name" placeholder="Faculty name..." class="form-control" />
                        <label>Hour Count</label>
                        <input type="text" name="hourcount" required id="edit-fac-hour" placeholder="Hour count..." class="form-control" />
                        <br />
                        <input type="file" name="file" accept="image/*" class="btn btn-info" value="Upload logo" />
                        <input type="submit" value="Update Faculty" id="confirm-edit" class="btn btn-success" />
                        <input type="button" value="Close" id="closeEditFac" class="btn btn-danger" />
                    </form>
                </div>
            </div>
        </div>
    </div>


    <style>
        .container .row.items {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
        }

        .fac-item {
            overflow: hidden;
            flex-basis: 30%;
            margin-right: 2vh;
            border-radius: .5vh;
            border: 1px solid black;
            margin-bottom: 1vh;
        }

        #confirm-create, #closeCreateFac, #confirm-edit, #closeEditFac {
            margin-top: 2vh;
        }

        .faculty * {
            display: inline-block;
        }

        .fac-item img {
            width: 15%;
        }

        .fac-item p {
            padding: 1vh;
        }

        .custom-modal {
            padding: 2vh;
            display: none;
            position: fixed;
            width: 25vw;
            z-index: 3;
            top: 15vh;
            left: 35vw;
            overflow: auto;
            border: 1px solid black;
            border-radius: 1vh;
            background-color: #ababab;
        }
    </style>

    <script>
        var image;
        var facultyName;
        var hourcount;

        $("#open-fac-create").click(function () {
            $("#new-fac").css("display", "block");
        });

        $("#closeCreateFac").click(function () {
            $("#new-fac").css("display", "none");
        });

        $(".fac-edit").click(function (e) {
            facultyName = $(e.target).prev().prev().contents().get(0).nodeValue;
            facultyId = $(e.target).prev().prev().prev().val();
            hourcount = $(e.target).prev().prev().contents().get(3).innerText
            $("#edit-fac").css("display", "block");
            $("#edit-fac form #edit-fac-name").val(facultyName);
            $("#edit-fac form #edit-fac-hour").val(hourcount);
            $("#edit-fac form #id").val(facultyId);
        });

        $("#closeEditFac").click(function () {
            $("#edit-fac").css("display", "none");
        })

    </script>
</body>
</html>
